@import 'variables'; // stylelint-disable-line scss/partial-no-import

// stylelint-disable-next-line selector-pseudo-class-no-unknown
:global {
  .hljs,
  .hljs-subst {
    color: $light-gray;
  }

  .hljs-strong,
  .hljs-emphasis {
    color: $white;
  }

  .hljs-bullet,
  .hljs-quote,
  .hljs-link,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal {
    color: $light-purple;
  }

  .hljs-code,
  .hljs-selector-class {
    color: $light-blue;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-section,
  .hljs-attribute,
  .hljs-name,
  .hljs-variable {
    color: $light-red;
  }

  .language-console .bash,
  .hljs-string {
    color: $dark-yellow;
  }

  // stylelint-disable-next-line selector-class-pattern
  .hljs-built_in,
  .hljs-type,
  .hljs-builtin-name,
  .hljs-symbol,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-addition {
    color: $light-green;
  }

  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: $dark-gray;
  }
}
