// Fonts:
$sans-serif:
  Raleway,
  游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic,
  sans-serif;
$monospace:
  "Nova Mono",
  monospace;
$emphasize:
  Oswald,
  游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic,
  sans-serif;

// Sizes:
$max-width: 800px;

// Color palette:
$black: #4a4a4a;
$white: #fff;
$dark-gray: #8a8a8a;
$light-gray: #ddd;
$light-blue: #57a3e8;
$light-red: #cc5555;
$light-green: #23ee3e;
$light-purple: #d433e2;
$dark-yellow: #d6cb2e;
