// Fonts:
$sans-serif:
  Raleway,
  游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic,
  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  "Meiryo UI", メイリオ, Meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic",
  sans-serif;
$monospace: NovaMono, monospace;

// Sizes:
$max-width: 800px;

// Color palette:
$black: #4a4a4a;
$white: #fff;
$dark-gray: #8a8a8a;
$light-gray: #ddd;
$light-blue: #57a3e8;
