@import 'variables';

body {
  font-display: swap;
  font-family: $sans-serif;
  font-feature-settings: "palt";
  color: $black;
  background-color: $white;
}

a {
  color: $black;
  transition: color ease 0.3s 0s;

  &:hover {
    color: $light-blue;
  }
}
